/node_modules
/node_modules4
/node_modules5
/node_modules2
/node_modules22
/node_modules-ready
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/.umi
/.umi-production
/.umi-test
/dist
/seat
/sub-know-seat
/.mfsu
.swc
.DS_Store
src/.DS_Store
